n8n-workflows/workflow-3-anomaly-alert.json
{
  "name": "SENTINEL — Workflow 3: Anomaly Alert Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n/alert",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "alert-webhook",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json.body || $input.first().json;\nreturn [{ json: { run_id: p.run_id, metric: p.metric, direction: p.direction, ks_stat: parseFloat(p.ks_stat || 0), p_value: parseFloat(p.p_value || 1), diagnosis: p.diagnosis || '', ts: new Date().toISOString() } }];"
      },
      "id": "parse-alert",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "ks-high",
              "leftValue": "={{ $json.ks_stat }}",
              "rightValue": 0.3,
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        }
      },
      "id": "check-ks-high",
      "name": "KS > 0.3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUri": "YOUR_SLACK_WEBHOOK_URL",
        "text": "=🚨 *SENTINEL Anomaly Detected*\n• Metric: `{{ $('Parse Alert').first().json.metric }}`\n• Direction: {{ $('Parse Alert').first().json.direction }}\n• KS-stat: {{ $('Parse Alert').first().json.ks_stat.toFixed(3) }}\n• Diagnosis: {{ $('Parse Alert').first().json.diagnosis }}\n• Run: `{{ $('Parse Alert').first().json.run_id.substring(0,8) }}`"
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [940, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_events (workflow_id, workflow_name, event_type, payload, ts) VALUES ('workflow_3', 'Anomaly Alert Dispatcher', 'alert_dispatched', '{{ JSON.stringify($json) }}', NOW());",
        "options": {}
      },
      "id": "log-to-db",
      "name": "Log to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [940, 400],
      "credentials": { "postgres": { "id": "pg-creds", "name": "SENTINEL Postgres" } }
    },
    {
      "parameters": {
        "url": "http://api:8000/sse/broadcast",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "anomaly_alert" },
            { "name": "metric", "value": "={{ $('Parse Alert').first().json.metric }}" },
            { "name": "ks_stat", "value": "={{ $('Parse Alert').first().json.ks_stat }}" },
            { "name": "dispatched_slack", "value": "=true" }
          ]
        }
      },
      "id": "push-sse",
      "name": "Push SSE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1170, 300]
    }
  ],
  "connections": {
    "Alert Webhook": { "main": [[{ "node": "Parse Alert", "type": "main", "index": 0 }]] },
    "Parse Alert": { "main": [[{ "node": "KS > 0.3?", "type": "main", "index": 0 }]] },
    "KS > 0.3?": {
      "main": [
        [{ "node": "Slack Alert", "type": "main", "index": 0 }],
        [{ "node": "Log to DB", "type": "main", "index": 0 }]
      ]
    },
    "Slack Alert": { "main": [[{ "node": "Push SSE", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
